/* universal selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* We want to set font size 10rem but defaut browser font is 16rem. 10%16 = .625  100% => 16px */
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}